body {
    color:white;
    background-color: #39aaba;
}

header {
    color:#662d2d;;
}

h2{
    color: #;;
}

section {
    color: black ;;
    background: #;;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /*tona flexivel = põe um lado do outro */
    justify-content: center; /* centralizar */
}

.chamada-texto {
    margin-right:15%;
}

img{
    height: 200px;
}
